# Default values for python-project.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: bhuvaneswari333/python-project
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 5000

containerPort: 5000

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
